.aboutSection{
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from 90deg at -10% 100%, #bcc1cd 0deg, #bcc1cd 90deg, #fff 1turn);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    position: relative;
}

.aboutSection h1{
    color: #13af47;
}

.aboutSection .left{
    flex: 30%;
}

.aboutSection .left img{
    width: 500px;
}

.aboutSection .right{
    display: flex;
    align-items: baseline;
    flex: 70%;
    flex-direction: column;
    justify-content: center;
    padding: 36px;
    
}

