.homeSection{
    background-image: conic-gradient(from 90deg at -10% 100%, #bcc1cd 0deg, #bcc1cd 90deg, #fff 1turn);
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 90px;
}


.homeSection .right{
    flex: 50%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}

.homeSection .left{
    height: 100%;
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;

}


.homeSection .right img{
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove default inline display */
    margin: 0; /* Remove any default margin */
    border-radius: 5px;
}

.homeSection h1{
    margin: 10px 0px ;
}

.homeSection button{
    background-color: #13af47;
    color: white;
    border-radius: 9999px;
    border: 0;
    font-size: 22px;
    padding: 10px 40px;
    cursor: pointer;
}

.homeSection p{
    margin-bottom: 20px;
}

.homeSection button:hover{
    background-color: #10923b;

}