.homeSection{
    background-image: conic-gradient(from 90deg at -10% 100%, #bcc1cd 0deg, #bcc1cd 90deg, #fff 1turn);
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 90px;
    position: relative;
    font-size: 18px;
}


.homeSection .right{
    flex: 50%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}

.homeSection .left{
    padding: 50px;
    height: 100%;
    flex: 30%;
    display: flex;
    align-items: baseline;
    justify-content:center;
    flex-direction: column;

}



.homeSection .right img{
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove default inline display */
    margin: 0; /* Remove any default margin */
    border-radius: 9999px;
}

.homeSection h1{
    margin: 10px 0px ;
    color: #13af47;
}

.homeSection button{
    background-color: #13af47;
    color: white;
    border-radius: 9999px;
    border: 0;
    font-size: 22px;
    padding: 10px 40px;
    cursor: pointer;
}

.homeSection p{
    margin-bottom: 20px;
}

.homeSection button:hover{
    background-color: #10923b;

}

.custom-shape-divider-top-1713526832 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1713526832 svg {
    position: relative;
    display: block;
    width: calc(105% + 1.3px);
    height: 135px;
}

.custom-shape-divider-top-1713526832 .shape-fill {
    fill: #13AF47;
}

@media (max-width: 1000px){
    .homeSection{
        flex-direction: column;

    }

    .homeSection .right{
        display: none;
    }
    .homeSection .left{
        align-items: center;
        flex: 0;
        text-align: center;
    }
}