.mobile-menu{
    margin-top: 95px;
    display: flex;
    left:-100% !important;
    height: 100vh;
    justify-content: center;
    background-color: white;
    transition:0.3s;
    width: 100%;
    z-index: 200;
    position: fixed;

}


.mobile-links{
    display: flex;
    flex-direction: column;
    padding: 16px;
    align-items: center;
    font-size: 36px;
}

.mobile-links li:hover{
    background-color: #13af47;
    border-radius: 9999px;
    color: white;
}

.mobile-links li{
    padding: 16px;
    list-style: none;
    cursor: pointer;
}

@media (max-width: 650px){
    
    .mobile-menu.open{
        display: flex;
        left: 0 !important;
    }
    

}