.chooseDiet .searchMeals{
    width: 100%;
}

.chooseDiet .searchContainer{
    width: 100%;
}

.chooseDiet .searchMeals .green{
    background-color: #13af47;
    color: white;
    border: 0;
    font-size: 20px;
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
}

.chooseDiet .searchMeals .green:hover{
    background-color: #10923b;
}

.chooseDiet .searchMeals .red{
    background-color: rgb(214, 39, 39);
    color: white;
    border: 0;
    font-size: 20px;
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
}

.chooseDiet .searchMeals .red:hover{
    background-color: rgb(177, 33, 33);
}

.chooseDiet .searchMeals .green:hover{
    background-color: #10923b;
}

.chooseDiet .searchMeals .searchMealsList, .chooseDiet .finished ul{
    padding: 16px;
    max-height: 400px;
    width: 100%;
}

.chooseDiet .searchMeals .searchMealsList li, .chooseDiet .finished .searchMealsList li{
    list-style: none;
    background-image: conic-gradient(from 90deg at -10% 100%, #bcc1cd 0deg, #bcc1cd 90deg, #fff 1turn);
    border: 2px solid;
    border-radius: 4px;
    padding: 16px;
    margin-top: 5px;
    font-size: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.chooseDiet .searchMeals .buttons, .finished .buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

.chooseDiet .searchMeals .buttons button, .chooseDiet .finished .buttons button{
    background-color: #13af47;
    color: white;
    border-radius: 9999px;
    border: 0;
    font-size: 22px;
    padding: 10px 40px;
    margin-top: 16px;
    cursor: pointer;
    width: auto;
    height: auto;
}

.chooseDiet .searchMeals .buttons button:hover{
    background-color: #10923b;
}

.finished{
    min-width: 400px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.finished .searchMealsList ul{
    padding: 8px;
}


.finished .inputContainer{
    padding: 16px;
    width: 100%;
}

.finished .inputContainer input{
    width: 100%;
    padding: 16px;
    font-size: 20px;
}
